* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.5;
}

img {
  width: 100%;
  vertical-align: top;
  transition: all 0.2s ease-out;
}

*::-webkit-scrollbar {
  width: 0;
}
